$primary-color: #10770e;
$secondary-color: #797977;

main {
  height: 100vh;
  padding: 30px;
  .container {
    margin: 0 auto;
    max-width: 960px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    header {
      h1 {
        font-size: 3rem;
        font-weight: bold;
        line-height: .9em;
        color:$primary-color;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: $primary-color;
        margin: 10px 0 30px 0;
      }

      span {
        text-transform: uppercase;
        color: $secondary-color;
      }

      p {
        display: block;
        color: $secondary-color;
        max-width: 460px;
      }

      form {
        display: flex;
        max-width: 960px;
        margin: 30px auto;
        display: flex;
        justify-content: center;
      }
    }
  }
}

aside {
  background: $secondary-color;
  padding: 60px 30px;
  section {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;

    .photo {
      flex: 2 0 360px;
      img {
        max-width: 100%;
        display: block;
      }
    }

    .photo-content {
      margin-left: 60px;
      h1 {
        color: #000;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #000;
        font-weight: bold;
        font-size: 3rem;

        &::before {
          font-size: 1.125rem;
          content: 'ABOUT THIS';
          display: block;
          color: $primary-color;
          -webkit-text-stroke-width: 0;
          -webkit-text-stroke-color:none;
        }

        &::after {
          content: 'WITH SOLID TEAM';
          display: block;
          color: #797977;
          -webkit-text-stroke-width: 2px;
          -webkit-text-stroke-color: #000;
        }
      }

      & p:first-of-type {
        margin: 20px 0;
        font-weight: bold;
      }

      & p:last-of-type {
        margin-bottom: 60px;
      }
    }
  }
}

footer {
  padding: 60px 30px;
  background: #000;
  display: flex;
  justify-content: center;

  .container {
    max-width: 960px;
    margin: 0 auto;
    color: $secondary-color;
    text-align: center;
    #social {
      display: flex;
      justify-content: center;
      list-style: none;

      a {
        color: $secondary-color;
        transition: background .3s;

        &:hover {
          color: $primary-color;
        }
      }

      svg {
        font-size: 2.125rem;
        margin: 15px;
      }
    }
  }
}

@media (max-width: 860px) {
  aside {
    section {
      flex-wrap: wrap-reverse;

      .photo {
        display: none;
      }
      .photo-content {
        margin: 0 0 60px 0;
      }
    }
  }
}